.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/accidents_postgres_data/*
serving_dir
*.csv
*.ipynb_checkpoints/
*.gz
*.parquet
*.zip
*-deployment.yaml
*.json
**/fhvhv
**/data/*
**/tmp/*
**/zones/*